html, body
{
  margin: 0 auto;
  width: 100%;
  display: block;
  background-color: rgba(64, 64, 128, 1.0);
}

* {
  font-family: "Roboto", sans-serif;
}

.header
{
  width: 100%;
  background-color: rgba(37, 37, 100, 1.0);
  box-shadow: 0 4px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div
{
  width: 10%;
  box-shadow: 0 0 10px black;
  background-color: rgba(200, 200, 200, 1.0);
  margin: 1%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.main .center
{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item
{
  width: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  margin: 0.55%;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  transition: all 0.75s;
}

.item-center
{
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.item-center div
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 145%;
  color: white;
  text-shadow: 10px black;
  margin: 5%;
  transition: all 1s
}

.start p
{
  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 0.5s;
}

.start p:hover
{
  color: black;
}

.clear p {

  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: rgb(180, 20, 20);
  transition: all 0.5s;
}

.clear p:hover
{
  color: black;
}

.load p
{
  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: rgb(255, 170, 0);
  transition: all 0.5s;
}

.load p:hover
{
  color: black;
}

.save p
{
  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: rgb(40, 170, 40);
  transition: all 0.5s;
}
.save p:hover
{
  color: black;
}

.header .clear
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .clear:hover
{
  background-color: red;
}

.header .save
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .save:hover
{
  background-color: green;
}

.header .load
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .load:hover
{
  background-color: orange;
}

.header .start
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .start:hover
{
  background-color: lightblue;
}

.add p
{
  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: rgb(143, 209, 0);
  transition: all 0.5s;
}

.add p:hover
{
  color: black;
}

.edit p
{
  font-size: 200%;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: rgb(205, 5, 255);
  transition: all 0.5s;
}

  .edit p:hover
{
  color: black;
}

.header .edit
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .edit:hover
{
  background-color: rgb(201, 64, 197);
}

.header .add
{
  background-color: : lightgrey;
  transition: all 1s;
}
.header .add:hover
{
  background-color: rgb(143, 209, 0);
}

.footer
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foo-center
{
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 150%;
}
